.animation {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;

    &.infinite {
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
    }

    &.d-1s {
        -webkit-animation-delay: 1s;
        animation-delay: 1s;
      }
      
      &.d-2s {
        -webkit-animation-delay: 2s;
        animation-delay: 2s;
      }
      
      &.d-3s {
        -webkit-animation-delay: 3s;
        animation-delay: 3s;
      }
      
      &.d-4s {
        -webkit-animation-delay: 4s;
        animation-delay: 4s;
      }
      
      &.d-5s {
        -webkit-animation-delay: 5s;
        animation-delay: 5s;
      }
      
      &.fast {
        -webkit-animation-duration: 800ms;
        animation-duration: 800ms;
      }
      
      &.faster {
        -webkit-animation-duration: 500ms;
        animation-duration: 500ms;
      }
      
      &.slow {
        -webkit-animation-duration: 2s;
        animation-duration: 2s;
      }
      
      &.slower {
        -webkit-animation-duration: 3s;
        animation-duration: 3s;
      }
}
